.header {

}
.logo {
  margin: -58px 0 0 -100px;
  @include position(absolute, 50% 0 0 50%);
  img {

  }
}
.psa {
  background: red;
  padding: 0 15px;
  text-align: center;
  span {
    font-size: .6em;
    text-transform: uppercase;
    a {
      font-size: inherit;
    }
  }
}
