/**** Skill Icons ****/

/** MEDICAL ICONS **/

.icon-Pulse {
}
.icon-First-Aid {
  background-position: -2px -202px;
}
.icon-Support-Station {
  background-position: -2px -302px;
}
.icon-recovery-link {
  background-position: -2px -402px;
}