/**** Skill Icons ****/

/** MEDICAL ICONS **/

// Pulse Icons
.icon-Pulse {
}
.icon-Pulse-0 {}
.icon-Pulse-1 {background-position: -80px 0px;}
.icon-Pulse-2 {background-position: -160px 0px;}
.icon-Pulse-3 {background-position: -240px 0px;}
.icon-Pulse-4 {background-position: -320px 0px;}

// First Aid
.icon-First-Aid {
  background-position: -2px -102px;
}
.icon-First-Aid-0 {background-position: 0px -80px;}
.icon-First-Aid-1 {background-position: -80px -80px;}
.icon-First-Aid-2 {background-position: -160px -80px;}
.icon-First-Aid-3 {background-position: -240px -80px;}
.icon-First-Aid-4 {background-position: -320px 0px;}

// Support Station
.icon-Support-Station {
  background-position: -2px -202px;
}
.icon-Support-Station-0 {background-position: 0px -160px;}
.icon-Support-Station-1 {background-position: -80px -160px;}
.icon-Support-Station-2 {background-position: -160px -160px;}
.icon-Support-Station-3 {background-position: -240px -160px;}
.icon-Support-Station-4 {background-position: -320px 0px;}

// Recovery Link
.icon-Recovery-Link {
  background-position: -2px -302px;
}
.medicalSkills .icon-Recovery-Link {
  background-color: rgba(111,196,74,.2) !important;
}
.icon-Recovery-Link-0 {}
.icon-Recovery-Link-1 {}
.icon-Recovery-Link-2 {}
.icon-Recovery-Link-3 {}
.icon-Recovery-Link-4 {}

/** TEC ICONS **/

// Sticky Bomb
.icon-Sticky-Bomb {
  background-position: -2px -402px;
}
.icon-Sticky-Bomb-0 {background-position: 0px -320px;}
.icon-Sticky-Bomb-1 {background-position: -80px -320px;}
.icon-Sticky-Bomb-2 {background-position: -160px -320px;}
.icon-Sticky-Bomb-3 {background-position: -240px -320px;}
.icon-Sticky-Bomb-4 {background-position: -320px 0px;}

// Icon Turret
.icon-Turret {
  background-position: -2px -502px;
}
.icon-Turret-0 {background-position: 0px -400px;}
.icon-Turret-1 {background-position: -80px -400px;}
.icon-Turret-2 {background-position: -160px -400px;}
.icon-Turret-3 {background-position: -240px -400px;}
.icon-Turret-4 {background-position: -320px 0px;}

// Seeker Mine
.icon-Seeker-Mine {
  background-position: -2px -602px;
}
.icon-Seeker-Mine-0 {background-position: -0px -480px;}
.icon-Seeker-Mine-1 {background-position: -80px -480px;}
.icon-Seeker-Mine-2 {background-position: -160px -480px;}
.icon-Seeker-Mine-3 {background-position: -240px -480px;}
.icon-Seeker-Mine-4 {background-position: -320px 0px;}

// Tactical Link
.icon-Tactical-Link {
  background-position: -2px -702px;
}
.techSkills .icon-Tactical-Link {
  background-color: rgba(255,202,87,.2) !important;
}

/** SEC ICONS **/

// Ballistic-Shield
.icon-Ballistic-Shield {
  background-position: -2px -802px;
}
.icon-Ballistic-Shield-0 {background-position: -0px -640px;}
.icon-Ballistic-Shield-1 {background-position: -80px -640px;}
.icon-Ballistic-Shield-2 {background-position: -160px -640px;}
.icon-Ballistic-Shield-3 {background-position: -240px -640px;}
.icon-Ballistic-Shield-4 {background-position: -320px 0px;}

// Smart Cover
.icon-Smart-Cover {
  background-position: -2px -902px;
}
.icon-Smart-Cover-0 {background-position: -0px -720px;}
.icon-Smart-Cover-1 {background-position: -80px -720px;}
.icon-Smart-Cover-2 {background-position: -160px -720px;}
.icon-Smart-Cover-3 {background-position: -240px -720px;}
.icon-Smart-Cover-4 {background-position: -320px 0px;}

// Mobile Cover
.icon-Mobile-Cover {
  background-position: -2px -1002px;
}
.icon-Mobile-Cover-0 {background-position: -0px -800px;}
.icon-Mobile-Cover-1 {background-position: -8px -800px;}
.icon-Mobile-Cover-2 {background-position: -160px -800px;}
.icon-Mobile-Cover-3 {background-position: -240px -800px;}
.icon-Mobile-Cover-4 {background-position: -320px 0px;}

// Survivor Link
.icon-Survivor-Link {
  background-position: -2px -1102px;
}
.secSkills .icon-Survivor-Link {
  background-color: rgba(64, 132, 197, .2) !important;
}

/**** Talent Icons ****/

.big-talent-icon {
  height: 100px !important;
  width: 100px !important;
  background-size: 800px !important;
}

/** MEDICAL ICONS **/

// Adrenalin
.icon-Adrenalin {
  background-position: 0px 0px;
}
.icon-Adrenalin-Header {
  background-position: 0px 0px;
}

// Triage
.icon-Triage {
  background-position: -65px 0px;
}
.icon-Triage-Header {
  background-position: -100px 0px;
}

// Shock and Awe
.icon-Shock-and-Awe {
  background-position: -130px 0px;
}
.icon-Shock-and-Awe-Header {
  background-position: -200px 0px;
}

// Battle Buddy
.icon-Battle-Buddy {
  background-position: -195px 0px;
}
.icon-Battle-Buddy-Header {
  background-position: -300px 0px;
}
// Critical Save
.icon-Critical-Save {
  background-position: -260px 0px;
}
.icon-Critical-Save-Header {
  background-position: -400px 0px;
}

// Shrapnel
.icon-Shrapnel {
  background-position: -325px 0px;
}
.icon-Shrapnel-Header {
  background-position: -500px 0px;
}

// Combat Medic
.icon-Combat-Medic {
  background-position: -390px 0px;
}
.icon-Combat-Medic-Header {
  background-position: -600px 0px;
}

// Strike Back
.icon-Strike-Back {
  background-position: -455px 0px;
}
.icon-Strike-Back-Header {
  background-position: -700px 0px;
}

/** TEC ICONS **/

// Tactical Advance
.icon-Tactical-Advance {
  background-position: 0px -65px;
}
.icon-Tactical-Advance-Header {
  background-position: 0px -100px;
}

// Demolition Expert
.icon-Demolition-Expert {
  background-position: -65px -65px;
}
.icon-Demolition-Expert-Header {
  background-position: -100px -100px;
}

// Police Up
.icon-Police-up {
  background-position: -130px -65px;
}
.icon-Police-up-Header {
  background-position: -200px -100px;
}

// Fear Tactics
.icon-Fear-Tactics {
  background-position: -195px -65px;
}
.icon-Fear-Tactics-Header {
  background-position: -300px -100px;
}

// Evasive Action
.icon-Evasive-Action {
  background-position: -260px -65px;
}
.icon-Evasive-Action-Header {
  background-position: -400px -100px;
}

// Tech Support
.icon-Tech-Support {
  background-position: -325px -65px;
}
.icon-Tech-Support-Header {
  background-position: -500px -100px;
}

// Wildfire
.icon-Wildfire {
  background-position: -390px -65px;
}
.icon-Wildfire-Header {
  background-position: -600px -100px;
}

// Death by Proxy
.icon-Death-by-Proxy {
  background-position: -455px -65px;
}
.icon-Death-by-Proxy-Header {
  background-position: -700px -100px;
}

/** SEC ICONS **/

// Steady Hands
.icon-Steady-Hands {
  background-position: -0px -130px;
}
.icon-Steady-Hands-Header {
  background-position: -0px -200px;
}

// On the Move
.icon-On-the-Move {
  background-position: -65px -130px;
}
.icon-On-the-Move-Header {
  background-position: -100px -200px;
}

// Precision
.icon-Precision {
  background-position: -130px -130px;
}
.icon-Precision-Header {
  background-position: -200px -200px;
}

// Chain Reaction
.icon-Chain-Reaction {
  background-position: -195px -130px;
}
.icon-Chain-Reaction-Header {
  background-position: -300px -200px;
}

// Desperate Times
.icon-Desperate-Times {
  background-position: -260px -130px;
}
.icon-Desperate-Times-Header {
  background-position: -400px -200px;
}

// Stopping Power
.icon-Stopping-Power {
  background-position: -325px -130px;
}
.icon-Stopping-Power-Header {
  background-position: -500px -200px;
}

// Repo Reaper
.icon-Repo-Reaper {
  background-position: -390px -130px;
}
.icon-Repo-Reaper-Header {
  background-position: -600px -200px;
}

// One is None
.icon-One-is-None {
  background-position: -455px -130px;
}
.icon-One-is-None-Header {
  background-position: -700px -200px;
}

/**** Perk Icons ****/

/** MED ICONS **/
.icon-Medkits {
  background-position: 0px 0px;
}
.icon-Medkits-Header {
  background-position: 0px 0px;
}
.icon-Protective-Measures {
  background-position: -75px 0px;
}
.icon-Protective-Measures-Header {
  background-position: -100px 0px;
}
.icon-Canned-Food {
  background-position: -150px 0;
}
.icon-Canned-Food-Header {
  background-position: -200px 0px;
}
.icon-Supplier {
  background-position: -225 0px;
}
.icon-Supplier-Header {
  background-position: -300px 0px;
}
.icon-Contamination-Intel {
  background-position: -300px 0px;
}
.icon-Contamination-Intel-Header {
  background-position: -400px 0px;
}
.icon-Hazardous-Materials {
  background-position: -525px 0px;
}
.icon-Hazardous-Materials-Header {
  background-position: -100px -100px;
}
.icon-Rigger {
  background-position: -600px 0px;
}
.icon-Rigger-Header {
  background-position: -600px 0px;
}
.icon-Credit {
  background-position: -750px 0px;
}
.icon-Credit-Header {
  background-position: -700px 0px;
}
.icon-Talents {
  background-position: -900px 0px;
}
.icon-Talents-Header {
  background-position: -800px 0px;
}
/** TEC ICONS **/

.icon-Inventory {
  background-position: -0px -75px;
}
.icon-Inventory-Header {
  background-position: -0px -100px;
}
.icon-Division-Tech-Materials {
  background-position: -150px -75px;
}
.icon-Division-Tech-Materials-Header {
  background-position: -200px -100px;
}
.icon-Engineer {
  background-position: -225px -75px;
}
.icon-Engineer-Header {
  background-position: -300px -100px;
}
.icon-Soda {
  background-position: -300px -75px;
}
.icon-Soda-Header {
  background-position: -400px -100px;
}
.icon-Water {
  background-position: -375px -75px;
}
.icon-Water-Header {
  background-position: -500px -100px;
}
.icon-Craftsman {
  background-position: -450px -75px;
}
.icon-Craftsman-Header {
  background-position: -600px -100px;
}
.icon-Energy-Bar {
  background-position: -525px -75px;
}
.icon-Energy-Bar-Header {
  background-position: -700px -100px;
}
.icon-Rescue-Assessment {
  background-position: -600px -75px;
}
.icon-Rescue-Assessment-Header {
  background-position: -800px -100px;
}
.icon-Stat-Switch {
  background-position: -675px -75px;
}
.icon-Stat-Switch-Header {
  background-position: -900px -100px;
}
.icon-Dark-Zone-Funds {
  background-position: -750px -75px;
}
.icon-Dark-Zone-Funds-Header {
  background-position: -1000px -100px;
}
.icon-Stash {
  background-position: -825px -75px;
}
.icon-Stash-Header {
  background-position: -1100px -100px;
}

/** SEC ICONS **/

.icon-Experienced-Agent {
  background-position: -0px -150px;
}
.icon-Experienced-Agent-Header {
  background-position: -0px -200px;
}
.icon-Grenades {
  background-position: -75px -150px;
}
.icon-Grenades-Header {
  background-position: -100px -200px;
}
.icon-Advanced-Weaponry {
  background-position: -150px -150px;
}
.icon-Advanced-Weaponry-Header {
  background-position: -200px -200px;
}
.icon-Combat-Veteran {
  background-position: -225px -150px;
}
.icon-Combat-Veteran-Header {
  background-position: -300px -200px;
}
.icon-Black-Market-Vendor {
  background-position: -375px -150px;
}
.icon-Black-Market-Vendor-Header {
  background-position: -500px -200px;
}
.icon-Clothes-Vendor {
  background-position: -450px -150px;
}
.icon-Clothes-Vendor-Header {
  background-position: -600px -200px;
}
.icon-Explosive-Bullets {
  background-position: -525px -150px;
}
.icon-Explosive-Bullets-Header {
  background-position: -700px -200px;
}
.icon-Gunsmith {
  background-position: -600px -150px;
}
.icon-Gunsmith-Header {
  background-position: -800px -200px;
}
.icon-Scavenger {
  background-position: -675px -150px;
}
.icon-Scavenger-Header {
  background-position: -900px -200px;
}
.icon-Incendiary-Bullets {
  background-position: -750px -150px;
}
.icon-Incendiary-Bullets-Header {
  background-position: -1000px -200px;
}
.icon-Special-Ammo {
  background-position: -825px -150px;
}
.icon-Special-Ammo-Header {
  background-position: -1100px -200px;
}
.icon-Shooting-Range {
  background-position: -900px -150px;
}
.icon-Shooting-Range-Header {
  background-position: -1200px -200px;
}
.icon-Intel-Discovery {
  background-position: -975px -150px;
}
.icon-Intel-Discovery-Header {
  background-position: -1300px -200px;
}
.icon-Collector {
  background-position: -1050px -150px;
}
.icon-Collector-Header {
  background-position: -1400px -200px;
}