.main {
  .hideSkillHead {
    visibility: hidden;
  }
  .removeSkillHead {
    display: none;
  }
  .hidden {
    display: none;
  }
  .req-tec {
    background-position: -50px 0px;
  }
  .req-med {
    background-position: -0px 0px;
  }
  .req-sec {
    background-position: -100px 0px;
  }
  .skillInput {
    background: #2c2c2c;
    border: solid 2px orange;
    width: 90px;
    padding: 2px 10px;
    margin-bottom: 3px;
  }
}
