$base : #F7F6F0;
$darken : darken(#F7F6F0 , 30%);
$back: darken(#F7F6F0, 40%);
$iconSprite: url('../img/iconSprite.png');
$perkSprite: url('../img/perkSprite.png');
$skillSprite: url('../img/skillSprite.png');
$talentSprite: url('../img/talentSprite.png');
