<div class="tabContainerPerks">
    <div class="noticePerks" style="color: #FFF;text-align: center;height: 50px;line-height: 50px;background-color: #444;">In the game perks are passive. You just have to unlock them.</div>
    <table>
        <tr>
            <td>
                <div class="perksHover">
                    <div class="perTreeName">
                        <center>
                            <div class="treeIconMed"></div>MEDICAL
                        </center>
                    </div>
                    <div class="perks medicalSkills">
                        <div class="perkBox per1 boxToggle" id="perMed1"></div>
                        <div class="perkBox per2" id="perMed2"></div>
                        <div class="perkBox per3" id="perMed3"></div>
                        <div class="perkBox per4" id="perMed4"></div>
                        <div class="perkBox per5" id="perMed5"></div>
                        <div class="perkBox per6" id="perMed6"></div>
                        <div class="perkBox per7" id="perMed7"></div>
                        <div class="perkBox per8" id="perMed8"></div>
                        <div class="perkBox per9" id="perMed9"></div>
                        <div class="perkBox per10" id="perMed10"></div>
                        <div class="perkBox per11" id="perMed11"></div>
                        <div class="perkBox per12" id="perMed12"></div>
                        <div class="perkBox per13" id="perMed13"></div>
                    </div>
                </div>
            </td>
            <td>
                <div class="perksHover">
                    <div class="perTreeName">
                        <center>
                            <div class="treeIconTech"></div>TECH
                        </center>
                    </div>
                    <div class="perks techSkills">
                        <div class="perkBox per1" id="perTech1"></div>
                        <div class="perkBox per2" id="perTech2"></div>
                        <div class="perkBox per3" id="perTech3"></div>
                        <div class="perkBox per4" id="perTech4"></div>
                        <div class="perkBox per5" id="perTech5"></div>
                        <div class="perkBox per6" id="perTech6"></div>
                        <div class="perkBox per7" id="perTech7"></div>
                        <div class="perkBox per8" id="perTech8"></div>
                        <div class="perkBox per9" id="perTech9"></div>
                        <div class="perkBox per10" id="perTech10"></div>
                        <div class="perkBox per11" id="perTech11"></div>
                        <div class="perkBox per12" id="perTech12"></div>
                    </div>
                </div>
            </td>
            <td>
                <div class="perksHover">
                    <div class="perTreeName">
                        <center>
                            <div class="treeIconSec"></div>SECURITY
                        </center>
                    </div>
                    <div class="perks secSkills">
                        <div class="perkBox per1" id="perSec1"></div>
                        <div class="perkBox per2" id="perSec2"></div>
                        <div class="perkBox per3" id="perSec3"></div>
                        <div class="perkBox per4" id="perSec4"></div>
                        <div class="perkBox per5" id="perSec5"></div>
                        <div class="perkBox per6" id="perSec6"></div>
                        <div class="perkBox per7" id="perSec7"></div>
                        <div class="perkBox per8" id="perSec8"></div>
                        <div class="perkBox per9" id="perSec9"></div>
                        <div class="perkBox per10" id="perSec10"></div>
                        <div class="perkBox per11" id="perSec11"></div>
                        <div class="perkBox per12" id="perSec12"></div>
                        <div class="perkBox per13" id="perSec13"></div>
                        <div class="perkBox per14" id="perSec14"></div>
                        <div class="perkBox per15" id="perSec15"></div>
                    </div>
                </div>
            </td>
            <td id="perInfoBig">
                <div class="perInfoHover">
                    <div class="perInfoName">
                        <table>
                            <tr>
                                <td rowspan="2">
                                    <div class="perInfoPerkIcon"></div>
                                </td>
                                <td height="50px" width="100%" style="line-height: 29px;padding-top: 8px;">
                                    <span style="font-size: 30px;" id="perInfoPerkName">Medkits</span>
                                    <br>
                                    <font size="15px">Available</font>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="perInfoBox">
                        <br>
                           <span class="perReq">
                              <span style="margin-bottom: 0px;color:orange;">Requirement</span>
                              <br>
                              <table>
                                 <tr>
                                    <td rowspan="2">
                                       <div class="reqIcon"></div>
                                    </td>
                                    <td valign="bottom"><span class="reqTree">Medical Tree Upgrade</span>
                                    <br>
                                 </td>
                              </tr>
                              <tr>
                                 <td valign="top"><span class="reqDetail">Clinic</span></td>
                              </tr>
                           </table>
                        </span>
                        <br>
                        <span style="margin-bottom: 0px;color:orange;">Description</span><br>
                        <div class="perInfoDesc" style="text-align:justify">Increase Medkit inventory by 1 slot</div>
                    </div>
                </div>
            </td> <!-- infobig -->
        </tr>
    </table>
</div>