<div class="tabContainerTalents">
    <div class="noticeTalents" style="color: #FFF;text-align: center;height: 50px;line-height: 50px;background-color: #444;">In the game you can choose up to 4 talents.</div>
    <table>
        <tr>
            <td>
                <div class="talentsHover">
                    <div class="talTreeName">
                        <center>
                            <div class="treeIconMed"></div>MEDICAL</center>
                    </div>
                    <div class="talents medTalents">
                        <table>
                            <tr>
                                <td>
                                    <div class="talentBox tal1 boxToggle" id="talMed1"></div>
                                </td>
                                <td>
                                    <div class="talentBox tal2" id="talMed2"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="talentBox tal3" id="talMed3"></div>
                                </td>
                                <td>
                                    <div class="talentBox tal4" id="talMed4"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="talentBox tal5" id="talMed5"></div>
                                </td>
                                <td>
                                    <div class="talentBox tal6" id="talMed6"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="talentBox tal7" id="talMed7"></div>
                                </td>
                                <td>
                                    <div class="talentBox tal8" id="talMed8"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
            <td>
                <div class="talentsHover">
                    <div class="talTreeName">
                        <center>
                            <div class="treeIconTech"></div>TECH</center>
                    </div>
                    <div class="talents techTalents">
                        <table>
                            <tr>
                                <td>
                                    <div class="talentBox tal1" id="talTech1"></div>
                                </td>
                                <td>
                                    <div class="talentBox tal2" id="talTech2"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="talentBox tal3" id="talTech3"></div>
                                </td>
                                <td>
                                    <div class="talentBox tal4" id="talTech4"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="talentBox tal5" id="talTech5"></div>
                                </td>
                                <td>
                                    <div class="talentBox tal6" id="talTech6"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="talentBox tal7" id="talTech7"></div>
                                </td>
                                <td>
                                    <div class="talentBox tal8" id="talTech8"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
            <td>
                <div class="talentsHover">
                    <div class="talTreeName">
                        <center>
                            <div class="treeIconSec"></div>SECURITY</center>
                    </div>
                    <div class="talents secTalents">
                        <table>
                            <tr>
                                <td>
                                    <div class="talentBox tal1" id="talSec1"></div>
                                </td>
                                <td>
                                    <div class="talentBox tal2" id="talSec2"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="talentBox tal3" id="talSec3"></div>
                                </td>
                                <td>
                                    <div class="talentBox tal4" id="talSec4"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="talentBox tal5" id="talSec5"></div>
                                </td>
                                <td>
                                    <div class="talentBox tal6" id="talSec6"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="talentBox tal7" id="talSec7"></div>
                                </td>
                                <td>
                                    <div class="talentBox tal8" id="talSec8"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
            <td id="talInfoBig">
                <div class="talInfoHover">
                    <div class="talInfoName">
                        <table width="100%">
                            <tr>
                                <td rowspan="2">
                                    <div class="talInfoTalentIcon"></div>
                                </td>
                                <td height="50px" width="100%" style="line-height: 29px;padding-top: 5px;">
                                    <span style="font-size: 30px;" id="talInfoTalentName">Adrenaline</span>
                                    <br>
                                    <font size="15px">Available</font>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="talInfoBox">
                        <br>
                           <span class="talReq">
                              <span style="margin-bottom: 0px;color:orange;">Requirement</span>
                              <br>
                              <table>
                                 <tr>
                                    <td rowspan="2">
                                       <div class="talReqIcon"></div>
                                    </td>
                                    <td valign="bottom"><span class="talReqTree">Medical Tree Upgrade</span>
                                    <br>
                                 </td>
                              </tr>
                              <tr>
                                 <td valign="top"><span class="talReqDetail">Decontamination Unit</span></td>
                              </tr>
                           </table>
                        </span><br>
                        <span style="margin-bottom: 0px;color:orange;">Description</span><br>
                        <div class="talInfoDesc"  style="text-align:justify">Use a medkit when not at full health to receive an overheal</div><br>
                        <table class="benefitTable">
                            <thead>
                            <tr>
                                <td>
                                    <span style="margin-bottom: 0px;color:orange;">Benefits</span>
                                </td>
                            </tr>
                            </thead>
                            <tr>
                                <td>Affects Agent</td>
                            </tr>
                            <tr>
                                <td>Overheal</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>