<!DOCTYPE html>
<html lang="en" ng-app="skill-calculator">
   <head>
      <meta charset="UTF-8">
      <meta name="keywords" content="app the division, skill, skills, skill calculator, division, the division skills, the division skill mods, the division talents, the division perks, division skills, division talents, division perks, miodec">
      <meta name="description" content="Skill calculator for The Division. All skills, skill mods, talents and perks.">
      <meta name="author" content="github.com/ununseptium/skill-calculator">
      <title>The Division Skill Calculator</title>
       <script src="assets/components/jquery/jquery.min.js"></script>
      <link rel="stylesheet" href="assets/css/style.min.css">
      <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,200,700" rel="stylesheet" type="text/css">
      <link href="http://static9.cdn.ubi.com/resource/en-US/game/tomclancy-thedivision/game/TheDivision_FavIcon_101572.png" rel="icon" type="image/ico" />
   </head>
   <body>
      <div id="container" ng-controller="glob" ng-init="selectedTab = 'skills'">
          <a href="#!/skills"><div ng-class="{'tabToggle':selectedTab === 'skills'}" class="tab tabSkills" ng-click="selectedTab = 'skills'" id="tabSkills"><div class="tabLine"></div>Skills</div></a>
          <a href="#!/talents"><div ng-class="{'tabToggle':selectedTab === 'talents'}" class="tab tabTalents" ng-click="selectedTab = 'talents'" id="tabTalents"><div class="tabLine"></div>Talents</div></a>
          <a href="#!/perks"><div ng-class="{'tabToggle':selectedTab === 'perks'}" class="tab tabPerks" ng-click="selectedTab = 'perks'" id="tabPerks"><div class="tabLine"></div>Perks</div></a>
          <hr style="margin-bottom: 0;">
          <div class="main" ng-view></div>
      </div>
      <div id="footer">
         <span style="color:#777;font-size: 15px;left: 30px;bottom: 0px;position: absolute;">Be aware that this is a <i>work in progress</i> and some calculations may not be correct<br>
            Currently most of the values are wrong by <1% due to implementation issues aka laziness and there are no skill cap's <b>yet</b>. Working on that.<br>
         <br>Check out our The Division <a href="https://discord.gg/0lh5FmzP4CEReLAt">Discord server</a> | <a href="https://github.com/ununseptium/skill-calculator/issues/new">Report Issues</a> | <a href="https://github.com/ununseptium/skill-calculator#credits">Credits &hearts;</a> </span>
      </div>
      <script language="JavaScript" type="application/javascript">
          var noticeTalentsPlayed = false;
          var noticePerksPlayed = false;

          $(".noticeTalents").slideUp();
          $(".noticePerks").slideUp();

          $(".noticeSkills").slideUp().delay(500).slideDown().delay(6000).slideUp();
      </script>
      <script src="assets/js/main.js"></script><script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-51353350-4', 'auto');
          ga('send', 'pageview');

      </script>
</body>
</html>
